<!doctype html>
<meta charset="utf-8">
<title>Administration panel</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="http://code.jquery.com/jquery-1.8.3.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='jquery.autocomplete.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='libapp.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='jquery.jeditable.js') }}" type="text/javascript" charset="utf-8"></script>

<div class="adminpage">
	<div class="header">
		<div class="logo">
			<h1><a href="{{ url_for('index') }}">Admin panel</a></h1>
		</div>
		<div class="topwidget">		
		<div class="ui-widget">
			<form action="{{ url_for('search') }}" method="GET">
			  <input class=search type="text" name="q" id="search" autofocus placeholder="enter query here.." required>
			  <input class=search type="submit" value="search">
			</form>
		</div>
		</div>
	</div>
	<div style=" width:100%; height:1px; clear:both;">.</div> 
  <div class=metanav>
	<div class=view_mode>	 
	  <a class=button href="{{ url_for('admin_show_entries',pagin = config['PAGIN'], page=1, view='books') }}">BOOKS</a>
	  <a class=button href="{{ url_for('admin_show_entries',pagin = config['PAGIN'],page=1,view='authors') }}">AUTHORS</a>
	</div>
        <div class=login>
 	  {% if not session.logged_in %}
	    <a class=button href="{{ url_for('login') }}">log in</a>
	  {% else %}
  	    <a class="button admin" href="{{ url_for('admin_panel') }}">admin</a>
	    <a class="button" href="{{ url_for('logout') }}">log out</a>
	  {% endif %}
	</div>
	</div>
	<div id=block-error><p class=error><strong>Error:</strong><span id=error></span></p></div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>


