{% extends "layout.html" %}
{% block body %}
  <ul class=entries>
	{% if view_mode == 'books' %}
	  {% for entry in entries %}
	  <li><h2><a href="{{ url_for('show_entry',item_id=entry.id,view=view_mode[:-1]) }}">{{ entry.name }}</a></h2>
			<h6>{% for author in entry.authors %}  
				<a href="{{ url_for('show_entry',item_id=author.id,view='author') }}">{{ author.name }}</a>
				{% if not loop.last %}, {% endif %}
			{% endfor %}</h6>
	  <div class=description>{{ entry.description[:140]+'...' }}</div>	
	  {% else %}
	  <li><em>Unbelievable.  No entries here so far</em>
	  {% endfor %}
	{% else %}
 	  {% for entry in entries %}
	  <li><h2><a href="{{ url_for('show_entry',item_id=entry.id,view=view_mode[:-1]) }}">{{ entry.name }}</a></h2>
			<h6>{% for book in entry.books %}  
	  			{{ book.name }}{% if not loop.last %}, {% endif %}
			{% endfor %}</h6>
	  {% endfor %}
	{% endif %}
	</li>
  </ul>
	<div class="pagination">
	  <span class="step-links">
          {% if entries.has_previous() %}
		<a class=pages href="{{ url_for('show_entries',pagin=entries_per_page,page=entries.previous_page_number(),view=view_mode) }}">prev</a>
 	  {% endif %}
       <a class="pages" href="#">{{ entries.number }} of {{ entries.paginator.num_pages }}</a>
          {% if entries.has_next() %}
	  <a class=pages href="{{ url_for('show_entries',pagin=entries_per_page,page=entries.next_page_number(),view=view_mode) }}">next</a> 
          {% endif %}
        </span>
      </div>
{% endblock %}

